body {
    background-color: #cddbe4;
    font-weight: 200;
}
u > a {
    font-weight: 400;
}

.navbar {
    min-height: 36px;
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 36px;
    font-weight: 200;
}

.navbar .navbar-toggle {
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 9px 10px;
}

.navbar .navbar-form {
    margin-top: 2px;
    margin-bottom: 0px
}
.navbar-nav .navbar-collapse {
    border-color: black;
}

.dropdown-menu > li > a {
    font-weight: 200;
}

.header {
    height: 150px;
    background: repeat;
    background-image: url("/php_forum/img/header.png");
}

.footer {
    height: 40px;
}

.forum-name-top {
    font-weight: bold;
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.divbreak {
    height: 10px;
}

.sidebreak {
    height: 5px;
}

.orange-text {
    color: #e57100;
}

.btn-orange {
    background-color: #e57200;
    border-color: #e57200;
    color: #fff;
}

.btn-danger {
    width: 57px;
}

.btn-orange:hover {
    background-color: #ec9c4c;
    border-color: #ec9c4c;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 10px 10px 10px 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .hide-content {
        display: none;
    }

    .mobile-view {
        width: 50%;
        float: left;
    }

    .timestamp {
        text-align: right;
        margin-right: 0px;
    }

    .row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        width: 80%;
        height: 100%;
        margin-right: 10%;
        margin-left: 10%;
        background-color: white;
        padding: 10px;
        border-right: 1px solid #91a2aa;
        border-left: 1px solid #91a2aa;
        float: left;
    }

    .sidebar-container {
        padding: 5px 20px 5px 20px;
        margin-right: 1%;
        border: 1px solid #2e2e2e;
        border-radius: 5px;
        width: 24%;
        background-color: #2e2e2e;
        float: left;
    }

    .content-container {
        width: 75%;
        float: left;
    }

    .forum-container {
        padding: 5px 20px 5px 20px;
        margin-right: 0px;
        border: 1px solid #2e2e2e;
        border-radius: 5px;
        background-color: #2e2e2e;
        width: 100%;
    }

    .forum-title {
        color: white;
        height: 21px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .forum-header {
        background: repeat-x;
        background-color: #e57100;
        color: #ffffff;
        border-bottom: 2px solid black;
        font-size: small;
        height: 21px;
    }

    .sidebar-title {
        color: white;
        height: auto;
        min-height: 21px;
        margin-bottom: 2px;
        margin-top: 2px;
        text-align: center;
    }

    .sidebar-row {
        border-bottom: 1px solid #91a2aa;
        padding: 0px 0px 0px 0px;
        font-size: small;
        background-color: #cddbe4;
    }

    .forum-row {
        background-color: #cddbe4;
    }

    .center {
        text-align: center;
    }

    .middle {
        margin: 8px 0px 0px 0px;
    }

    .pad {
        padding: 8px 8px 8px 8px;
    }

    .pad-title {
        padding-top: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .row-bottom-radius {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .row-bottom-border {
        border-bottom: 1px solid #91a2aa;
    }

    .navbar-item {
        padding: 5px 5px 5px 5px;
        min-height: 21px;
    }

    .dropdown-menu {
        text-align: right;
    }
    .navbar-form {
        padding: 0px;
    }

    .form-control {
        height: 24px;
        margin-top: 4px;
        font-size: small;
        line-height: normal;
    }

    .navbar-form {
        padding: 0px;
    }

    .btn {
        height: 24px;
        padding: 1px 5px;
        margin-top: 4px;
    }
}

@media screen and (min-width: 1224px) {
    .sidebar-container {
        width: 19%;
    }

    .content-container {
        width: 80%;
    }
}

@media screen and (min-width: 1824px) {
    .sidebar-container {
        width: 14%;
    }

    .content-container {
        width: 85%;
    }
}
